@layer features {
  .features{

    .features-sm, .features-lg{
      @media (width >= calc(700 / 16 * 1rem)){     
        padding-inline: 60px; /*may change */
       }
    }

    .features-sm{
      position: relative;
      display: grid;
      gap: 48px;
      padding-block: 120px;

      @media (width >= calc(700 / 16 * 1rem)){
        &::before{
          content: "";
          display: block; /*just to move it around*/
          width:15px;
          height:calc(100% - 120px);
          background: var(--c-light-grey);
          position: absolute;
          bottom: 120px;
          left: calc(100px + 96px / 2);
        }
       }
    }
    .feature-sm{
      display: grid;
      gap: 24px;
      text-align: center;
      justify-items: center;

      @media (width >= calc(700 / 16 * 1rem)){
        grid-template-columns: 96px 1fr;
        grid-template-rows: auto auto;
        gap: 28px 80px;
        text-align: left;
        justify-items: start; 
      }
      
    }
    .feature-sm-img{
      width: 56px;
      height:56px;
      
      @media (width >= calc(700 / 16 * 1rem)){
        width: 96px;
        height: 96px;
        grid-column: 1;
        grid-row: 1 / -1;
      }
    }
    .feature-sm-title{
      color: var(--c-dark-navy);
       @media (width >= calc(700 / 16 * 1rem)){
        grid-column: 2;
        grid-row: 1;
       }
    }
    .feature-sm-descr{
      color: var(--c-dim-grey);
      @media (width >= calc(700 / 16 * 1rem)){
        grid-column: 2;
        grid-row: 2;
       }
    }
  }
}