@layer features {
  .features {

    .features-sm {
      position: relative;
      display: grid;
      padding-block: 120px;

      @media (width >=calc(700 / 16 * 1rem)) {
        grid-template-rows: 120px repeat(3, auto);
        gap:0;
        padding-block: 0 145px;
      }
    }
  }

  .gray-line {
    display: none;
    position: relative;
    left: calc(96px / 2);
    translate: -50% 0;
    z-index: -1;
    width: 15px;
    height: calc(100% + 20px);
    background: var(--c-light-grey);
    grid-column: 1 / -1;
    grid-row: 1 / 4;

    @media(width >= calc(700 / 16 * 1rem)){
       display: block;
    }
  }

  .feature-sm {
    grid-column: 1 / -1;
    display: grid;
    gap: 24px;
    text-align: center;
    justify-items: center;
    margin-block-end: 48px;

    @media (width >=calc(700 / 16 * 1rem)) {
      grid-template-columns: 96px 1fr;
      grid-template-rows: auto auto;
      gap: 28px 80px;
      text-align: left;
      justify-items: start;
      grid-row-end: span 1;
    }

    &:nth-child(2) {
      grid-row-start: 2;
    }

    &:nth-child(3) {
      grid-row-start: 3;
    }
    &:nth-child(4) {
      grid-row-start: 4;
    }

    &:last-child {
      margin-block-end: 0;
    }

  }

  .feature-sm-img {
    width: 56px;
    height: 56px;

    @media (width >=calc(700 / 16 * 1rem)) {
      width: 96px;
      height: 96px;
      grid-column: 1;
      grid-row: 1 / -1;
    }
  }

  .feature-sm-title {
    color: var(--c-dark-navy);

    @media (width >=calc(700 / 16 * 1rem)) {
      grid-column: 2;
      grid-row: 1;
    }
  }

  .feature-sm-descr {
    color: var(--c-dim-grey);

    @media (width >=calc(700 / 16 * 1rem)) {
      grid-column: 2;
      grid-row: 2;
    }
  }
}



  a {
    text-decoration: none;
  }

  header ul {
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
    }
  }

  footer ul {
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
    }
  }
  .visually-hidden{
    position: absolute;
    left: -10000px;
    top:auto;
    width: 1px;
    height:1px;
    overflow: hidden; 
  }

@layer cta {
  .cta {

    min-height: 240px;
    align-items: center;

    @media (width < calc(1100 / 16 * 1rem)) {
      place-items: center;
    }



    .cta_picture,
    .cta_text {
      grid-row: 1;
    }

    .cta_picture {
      height: 100%;
    }

    .cta_image {
      height: 100%;
      object-fit: cover;
    }

    .cta_text {
      display: grid;

      row-gap: 20px;


      @media (width >=calc(700 / 16 * 1rem)) {
        row-gap: 24px;
      }

      @media (width >=calc(1100 / 16 * 1rem)) {
        grid-template-columns: repeat(2, auto);
        justify-items: start;
        align-items: center;
      }

      .button {
        @media (width >=calc(1100 / 16 * 1rem)) {
          justify-self: end;
        }
      }

    }
  }

}

footer{
  text-align: center;
  padding-block-start:var(--space-lg);
}

footer p{
  max-width: none;
}
/* 700px */
@media(width >=43.75em) {

  :root {
    --space-sm: 40px;
    --space-med: 72px;
     --space-lg: 140px;
  }

  body {
    padding-block: 40px;
  }

  .button {
    padding: 16px 26px;
  }

  .grid-main {
    display: grid;
    grid-template-columns: 10px repeat(6, calc((100% - 80px - 30px * 5) / 6)) 10px;
    column-gap: 30px;
  }

  .hero-text {
    grid-column: 2 / 6;
  }

  .hero-image {
    grid-column: 6 / -1;
  }

  .hero-image img {
    height: 26.5625rem
  }

  .details :nth-child(2) {
    grid-column: 2 / 4;
    border-radius: 20px;
  }

  .details :nth-child(3) {
    grid-column: 4 / -2
  }

  .details-text {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  /* .details-text .headlines{
  } */
  .feature{
    justify-items: start;
    text-align: left;
    /* max-width: 17.5625rem; */

  }
  .feature:nth-child(even) {
    grid-column: 5 / span 3;
  }
  .feature h3{
    max-width: 14ch
  }
}

/* 1200px */
@media(width >=75em) {
  :root{
     --space-lg: 160px
  }
  body {
    padding-block: 55px;
  }

  .grid-main {
    display: grid;
    grid-template-columns: 1fr repeat(12, calc((69.375rem - 30px * 11) / 12)) 1fr;
    column-gap: 30px;
  }

  .hero-text {
    grid-column: 2 / 8;
    column-gap: 32px;
  }

  .hero-text .info {
    justify-self: start;
  }

  .hero-image {
    grid-column: 8 / -2;
    border-radius: 20px;
  }

  .hero-image img {
    height: 30rem
  }

  .gray-block {
    display: block;
    grid-column: -2 / -1;
    align-self: start;
  }

  .details .gray-block {
    grid-column: 1 / 2;
    align-self: end;
    border-radius: 0 20px 20px 0;
  }

  .details-image:nth-child(2) {
    grid-column: 2 / 5;
  }

  .details :nth-child(3) {
    grid-column: 6 / 10;
  }

  .details-text {
    grid-column: 11 / -2;
    flex-direction: column;
  }
  .feature, .feature:nth-child(even){
  grid-column-start: auto;
  }
  .feature:nth-child(1){
    grid-column-start: 2;
  }
  
}





/* @media (width >=calc(700 / 16 * 1rem)) {
      &::before {
        content: "";
        display: block;
        just to move it around
        width: 15px;
        /* height: calc(100% - 120px); 
        background: var(--c-light-grey);
        /* position: absolute; */
        /* bottom: 120px;
          left: calc(100px + 96px / 2); 
      }
    } 
*/