@layer features {
  .features  {
    .gray-line {
      display: none;
      position: relative;
      background: var(--c-light-grey);
      z-index: -1;

      &.tablet {
        @media (width >= calc(700 / 16 * 1rem)) and (width < calc(1000 / 16 * 1rem)) {
          display: block;
          left: calc(96px / 2);
          translate: -50% 0;
          width: 15px;
          height: calc(100% + 20px);
          grid-column: 1 / -1;
          grid-row: 1 / 4;
        }
      }

      &.desktop-small {
        @media (width >= calc(1000 / 16 * 1rem)) {
          position: absolute;
          display: block;
          width: 100%;
          height: 15px;
          grid-column: 2 / 3;
          translate: 45px calc(120px + 96px / 2 - 50%);
        }
      }

      &.desktop-large {
        grid-row: 1;

        @media (width >= calc(1000 / 16 * 1rem)) {
          display: block;
          height: 15px;
          grid-column: 1 / -2;
          width: calc(100% - 320px);
          translate: 0 calc(120px + 96px / 2 + 50%);
        }
      }
    }

    .features-sm-grid {
      position: relative;
      display: grid;
      gap: 48px;
      padding-block: 120px;

      @media (width >= calc(700 / 16 * 1rem)) and (width < calc(1000 / 16 * 1rem)) {
        grid-template-rows: 120px repeat(3, auto);
        gap: 0;
        padding-block: 0 145px;
      }

      @media (width >= calc(1000 / 16 * 1rem)) {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
      }
    }

    .feature-sm {
      display: grid;

      @media (width < calc(700 / 16 * 1rem)) {
        gap: 24px;
        justify-items: center;
        text-align: center;
      }

      @media (width >= calc(700 / 16 * 1rem)) and (width < calc(1000 / 16 * 1rem)) {
        grid-column: 1 / -1;
        margin-block-end: 48px;
        gap: 24px;
        text-align: center;
        justify-items: center;
        grid-template-columns: 96px 1fr;
        grid-template-rows: auto auto;
        gap: 28px 80px;
        text-align: left;
        justify-items: start;
        grid-row-end: span 1;

        &:nth-child(3) {
          grid-row-start: 2;
        }

        &:nth-child(4) {
          grid-row-start: 3;
        }

        &:nth-child(5) {
          grid-row-start: 4;
        }

        &:last-child {
          margin-block-end: 0;
        }
      }
    }

    .feature-sm-img {
      width: 56px;
      height: 56px;

      @media (width >= calc(700 / 16 * 1rem)) and (width < calc(1000 / 16 * 1rem)) {
        width: 96px;
        height: 96px;
        grid-column: 1;
        grid-row: 1 / -1;
      }

      @media (width >= calc(1000 / 16 * 1rem)) {
        width: 96px;
        height: 96px;
        margin-block-end: 40px;
      }
    }

    .feature-sm-title {
      color: var(--c-dark-navy);

      @media (width >= calc(700 / 16 * 1rem)) and (width < calc(1000 / 16 * 1rem)) {
        grid-column: 2;
        grid-row: 1;
      }

      @media (width >= calc(1000 / 16 * 1rem)) {
        margin-block-end: 27px;
      }
    }

    .feature-sm-descr {
      color: var(--c-dim-grey);

      @media (width >= calc(700 / 16 * 1rem)) and (width < calc(1000 / 16 * 1rem)) {
        grid-column: 2;
        grid-row: 2;
      }
    }
  }




/* @media (width >=calc(700 / 16 * 1rem)) {
      &::before {
        content: "";
        display: block;
        just to move it around
        width: 15px;
        /* height: calc(100% - 120px); 
        background: var(--c-light-grey);
        /* position: absolute; */
/* bottom: 120px;
          left: calc(100px + 96px / 2); 
      }
    } 
*/