@layer hero {
  .hero {
    overflow-x: clip;
    >* {
      grid-row: 1;
    }

    .hero-picture {
      max-height: 100vh;
      overflow: clip;
    }

    .hero-img {
      width: 100%
    }

    .hero-content {
      color: var(--c-white);
      align-self: center;
      justify-self: center;
      display: grid;
      justify-items: center;
      translate: 0 -24px;
      /* margin-inline: auto; */
      text-align: center;

      @media (width >=calc(700 / 16 * 1rem)) {
        max-width: 70%;
      }

      @media (width >=calc(1000 / 16 * 1rem)) {
        justify-self: start;
        justify-items: start;
        text-align: left;
        max-width: 57ch;
        translate: 0;
      }

    }

    p,
    .button {
      @media (width >=calc(1000 / 16 * 1rem)) {
        margin-inline-start: 95px;
      }
    }

    p {
      margin-block: 24px 32px;
    }

    .hero-l-arrow {
      display: none;

      @media (width >=calc(1000 / 16 * 1rem)) {
        display: block;
        align-self: center;
        translate: -140px 30px;
      }
    }

    .hero-r-arrow {
      justify-self: start;
      align-self: end;
      translate: -245px -34px;
      grid-column: 1 / -1;

      @media (width >=calc(700 / 16 * 1rem)) {
        translate: -100px -32px;
      }

      @media (width >=calc(1000 / 16 * 1rem)) {
        translate: 530px 100px;
        grid-column: 2;
        align-self: center;
      }
    }

    .hero-circles {
      display: none;

      @media(width >=calc(700 / 16 * 1rem)) {
        display: block;
        justify-self: end;
        align-self: end;
        translate: 30px -45px;
      }
      @media(width >=calc(1000 / 16 * 1rem)){
        display: none;
      }
       @media(width >=calc(1300 / 16 * 1rem)){
        display: block;
        align-self: center;
        translate: 30px 130px;
       }
    }
  }
}



/* use padding for spacing b/n element and parent 
and use margin for spacing between siblings */
/* you can control the width of the text in two ways the || first one is my lemeating the width of the grid cell when the items are located in by setting the max-width and using the margin-inline auto to strach the whole grid because when setting the max-width by default it reatract the container to the left and living a space in the right || and the second one is just by setting the max width on the text items that you want to adjest the size of || so the difference is that the frist one also limit the size of the container and the second one only limit the size of the items inside the container   */

/* use grid position attribures along with translate if you just us the translare alone the item is going to move with out taking the grid size into consideration giving a caractersits of moving by itself so when you use both like justify-self and translate it moves with respect of the justify value, just like in the case of the arrow uptop  */