@layer footer {
  .footer {
    padding-block: 64px 88px;
    background: var(--c-xdark-navy);
    color: var(--c-white);

    @media (width >=calc(700 / 16 * 1rem)) {
      padding-block: 32px;
    }

    .footer-content {
      display: grid;
      justify-items: center;
      align-items: center;
      text-align: center;

      @media (width >=calc(700 / 16 * 1rem)) {
        grid-template-columns: auto auto 1fr;
      }
    }
  }
}

.projects__tags {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-block-end: 20px;
  text-transform: uppercase;
}

.projects__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

@media (min-width: 37.5em) {
  .projects__grid {
    gap: 60px 24px;
    justify-items: start;
    text-align: left;
  }

  .projects__contact {
    justify-self: end;
  }

  .projects__item {
    grid-column: span 1;
  }

  .projects__headline,
  .projects__contact {
    grid-column: span 1;
  }

  .projects__contact {
    align-self: center;
  }

  .projects__tags,
  .projects__links {
    display: block;
  }

  .projects__tags span {
    margin-inline-end: 18px;
  }

  .projects__links a {
    margin-inline-end: 30px;
  }

  .project__links {
    display: block;
  }
}

@media (min-width: 62.5em) {
  .projects__grid {
    gap: 70px 30px;
  }

  .projects__item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
  }

  .projects__picture {
    position: relative;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .projects__picture::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: hsl(0, 0%, 0%);
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }

  .projects__item:hover .projects__picture::after {
    opacity: 0.5;
  }

  .projects__item:hover .projects__links {
    opacity: 1;
  }
  .projects__item:focus-within .projects__links {
    opacity: 1;
  }

  .projects__item:focus-within .projects__picture::after {
    opacity: 0.5;
  }

  .projects__image {
    width: 100%;
    height: auto;
  }

  .projects__links {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: center;
    z-index: 1;
    opacity: 0;
    transition: opacity 400ms ease-in-out;
  }

  .projects__links:hover ~ .projects__picture::after {
    opacity: 0.5;
  }

  .projects__tags {
    margin-block-end: 0;
  }
}