@layer header {
  .header {
    padding-block: 20px;
    align-items: center;

    .header-logo,
    .header-links {
      grid-row: 1;
    }

    .header-logo {
      justify-self: center;
      width: calc(75 / 16 * 1rem);

      @media (width >=calc(700 / 16 * 1rem)) {
        justify-self: start;
        width: calc(108 / 16 * 1rem)
      }
    }

    .header-links {
      justify-self: start;
      display: grid;
      align-items: center;

      @media (width >=calc(700 / 16 * 1rem)) {
        padding-left: 167px;
        width: 100%;
      }

      /* @media (width >=calc(1000 / 16 * 1rem)) {
        justify-self: stretch;
        margin-inline-start: 167px; 
      } */
    }
  }
}










  .hourly__content {
      background-color: var(--color-panel-bg-dark);
      border-radius: 20px;
      padding: 20px 16px;
      max-height: 60vh;
      overflow-y: scroll;

      @media (width >= calc(1000 / 16 * 1rem)) {
        position: absolute;
        height: 100%;
        max-height: none;
      }
    }

    .hourly__header {
      display: flex;
      gap: 40px;
      justify-content: space-between;
      align-items: center;
      margin-block-end: 16px;
    }

    .hourly__title {
      font-size: var(--font-size-forecast-title);
      font-weight: 600;
    }

    .hourly__select {
      background-color: var(--color-panel-bg-med);
      width: auto;
      padding: 8px 16px;
    }

    .hourly__select-day {
    }

    .hourly__hours {
      display: grid;
      gap: 16px;
    }

    .hourly__hour {
      display: grid;
      grid-template-columns: auto auto 1fr;
      gap: 8px;
      align-items: center;
      padding: 10px 16px 10px 12px;
      background-color: var(--color-panel-bg-med);
      border: 1px solid var(--color-panel-border);
      border-radius: 8px;
      min-height: calc(60 / 16 * 1rem);
    }

    .hourly__hour-icon {
      width: 40px;
      height: auto;
    }

    .hourly__hour-time {
      font-size: var(--font-size-forecast-hour);
    }

    .hourly__hour-temp {
      font-size: var(--font-size-forecast-temp);
      justify-self: end;
    }
  }
}