@layer button{
  .button{
    /* display: block; */
    background: var(--c-yellow);
    width: fit-content;
    color: var(--c-white);
    padding: 14px 40px;
    color: var(--c-xdark-navy);
    font-family: var(--ff-mono);
  }
}