@layer font {

  /* space-mono-700 - latin */
  @font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/space-mono-v17-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* lexend-deca-regular - latin */
  @font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/lexend-deca-v24-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  :root {
    --ff-mono: 'Space Mono', 'Courier New', Courier, monospace;
    --fs-56: calc(56 / 16 * 1rem);
    --fs-48: calc(48 / 16 * 1rem);
    --fs-40: calc(40 / 16 * 1rem);
    --fs-32: calc(32 / 16 * 1rem);
    --fs-24: calc(24 / 16 * 1rem);
    --fs-20: calc(20 / 16 *1rem) --fs-15: calc(15 / 16 * 1rem);
  }

  h1 {
    font-size: var(--fs-40);
    letter-spacing: -1.79px;

    @media(width >=calc(700 / 16 * 1rem)) {
      font-size: var(--fs-56);
      letter-spacing: -2.5px;
    }
  }

  h2 {
    font-size: var(--fs-32);
    letter-spacing: -1.43px;

    @media(width >=calc(700 / 16 * 1rem)) {
      font-size: var(--fs-48);
      letter-spacing: -2.14px;
    }
  }

  h3 {
    font-size: var(--fs-20);
    letter-spacing: -0.89px;

    @media(width >=calc(700 / 16 * 1rem)) {
      font-size: var(--fs-24);
      letter-spacing: -1.07px;
    }
  }
}

@layer color {
  :root {
    --c-white: hsl(0, 0%, 100%);
    --c-yellow: hsl(40, 97%, 58%);
    --c-xdark-navy: hsl(215, 14%, 23%);
    --c-dark-navy: hsl(216, 17%, 35%);
    --c-dim-grey: hsl(217, 12%, 62%);
    --c-light-grey: hsl(212, 41%, 93%);
    --c-snow: hsl(214, 37%, 96%);
    --c-light-yellow: hsl(39, 100%, 94%);
    --c-black-overlay: hsla(0, 0%, 0%, 0.75);
  }
}

@layer global {

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    min-height: 50vh;
    /*temporary, remover after compleat*/
    font-family: 'Lexend Deca', Arial, Helvetica, sans-serif;
    font-size: var(--fs-15);
  }

  img {
    display: block;
    max-width: 100%;
    /*to make imgsize == container*/
    height: auto;
    /*adjest hight in relation to width(not squied) */
  }



  h1,
  h2,
  h3 {
    margin: 0;
    line-height: 1.1;
    font-family: var(--ff-mono)
  }

  p {
    line-height: 1.6;
    margin: 0;
  }


  a {
    text-decoration: none;
  }

  header ul {
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
    }
  }

  footer ul {
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
    }
  }
  .visually-hidden{
    position: absolute;
    left: -10000px;
    top:auto;
    width: 1px;
    height:1px;
    overflow: hidden; 
  }
}









  .feature{
    justify-items: start;
    text-align: left;
    /* max-width: 17.5625rem; */

  }
  .feature:nth-child(even) {
    grid-column: 5 / span 3;
  }
  .feature h3{
    max-width: 14ch
  }
}

/* 1200px */
@media(width >=75em) {
  :root{
     --space-lg: 160px
  }
  body {
    padding-block: 55px;
  }

  .grid-main {
    display: grid;
    grid-template-columns: 1fr repeat(12, calc((69.375rem - 30px * 11) / 12)) 1fr;
    column-gap: 30px;
  }

  .hero-text {
    grid-column: 2 / 8;
    column-gap: 32px;
  }

  .hero-text .info {
    justify-self: start;
  }

  .hero-image {
    grid-column: 8 / -2;
    border-radius: 20px;
  }

  .hero-image img {
    height: 30rem
  }

  .gray-block {
    display: block;
    grid-column: -2 / -1;
    align-self: start;
  }

  .details .gray-block {
    grid-column: 1 / 2;
    align-self: end;
    border-radius: 0 20px 20px 0;
  }

  .details-image:nth-child(2) {
    grid-column: 2 / 5;
  }

  .details :nth-child(3) {
    grid-column: 6 / 10;
  }

  .details-text {
    grid-column: 11 / -2;
    flex-direction: column;
  }
  .feature, .feature:nth-child(even){
  grid-column-start: auto;
  }
  .feature:nth-child(1){
    grid-column-start: 2;
  }
  
}


